@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, #fff, #ffe4e6, #ffd6e0);
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
}
