@tailwind base;
@tailwind components;
@tailwind utilities;



/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, #fff, #ff41b3, #ffb2f7);
  background-size: 600% 600%;
} */
